<li>
    <form id="{id}" method="post"></form>
    <form class="card" method="post" id="card">
        <div class="card-header">
            <textarea class="autoresize card-title" name="new-title">{title}</textarea>
            <textarea class="id" name="id" form="{id}">{id}</textarea>
            <textarea class="id" name="id">{id}</textarea>
            <button class="close" type="submit" form="{id}">X</button>
        </div>
        <textarea class="autoresize card-content" name="new-content">{details}</textarea>
        <button class="update" type="submit">edit</button>
    </form>
</li>